/* CSS untuk WalletDetailPage */
.wallet-detail-page {
    padding: 20px;
    font-family: 'Inter', sans-serif;
  }
  
  .wallet-detail-page h1 {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  .wallet-detail-page input[type="text"] {
    padding: 8px;
    margin-right: 10px;
  }
  
  .wallet-detail-page button {
    padding: 10px 15px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .wallet-detail-page button:hover {
    background-color: #0056b3;
  }
  
  /* CSS untuk ExpenseItemPage */
  .expense-item-page {
    padding: 20px;
    font-family: 'Inter', sans-serif;
  }
  
  .expense-item-page h1 {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  .expense-item-page input[type="text"], 
  .expense-item-page input[type="number"], 
  .expense-item-page select {
    padding: 8px;
    margin-right: 10px;
  }
  
  .expense-item-page button {
    padding: 10px 15px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .expense-item-page button:hover {
    background-color: #0056b3;
  }
  
  .expense-item-page ul {
    list-style-type: none;
    padding: 0;
  }
  
  .expense-item-page li {
    padding: 10px 0;
  }
  